.connect_button button.bk.bk-btn.bk-btn-default {
    color: black;
    width: 200px;
    font-size:10pt;
    background-color: mediumturquoise;
    border-color: black;
}

.save_button button.bk.bk-btn.bk-btn-default {
    color: black;
    width: 200px;
    font-size:10pt;
    background-color: #BA55D3;
    border-color: black;
}

.bk-root .h1-title-style {
	color: black;
	width: 800px;
	text-decoration: underline;
	font-size:24pt;
	font-style: bold;
	font-weight: bold;
}

.bk-root .inst-style {
	font-family: sans-serif;
	width: 800px;
	color: black;
	white-space: pre-line;
	font-size:12pt;
}

.bk-root .subt-style {
	color: black;
	text-decoration: underline;
	text-align: center;
	font-size:18pt;
	font-style: bold;
}

.bk-root .title-style {
	color: black;
	text-decoration: underline;
	font-size:18pt;
	font-style: bold;
}

.bk-root .alert-style {
	color: red;
	font-size:12pt;
}
.bk-root .bk-tab {
    background-color: gainsboro;
    width: 300px;
    color: black;
    font-style: bold;
    font-size:10pt;
    text-align: center;
}

.bk-root .bk-tabs-header .bk-tab.bk-active{
	background-color: cornflowerblue;
	color: white;
	font-style: normal;
	font-weight: bold;
}
.bk-root .bk-tabs-header .bk-tab:hover{
	background-color: cornflowerblue
}
